<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schedulemanagerapp">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".schedule.ShowScheduleIsDoneActivity"></activity>
        <activity android:name=".schedule.ShowScheduleInALLActivity" />
        <activity android:name=".schedule.ShowScheduleActivity" />
        <activity android:name=".schedule.AddScheduleActivity" />
        <activity android:name=".diary.EditDiaryActivity" />
        <activity android:name=".diary.WriteDairyActivity" />
        <activity android:name=".diary.DetailDiaryActivity" />
        <activity android:name=".diary.ShowDiaryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>